In [ ]:
# Data Science Tools and Examples

In [ ]:
## Introduction
This notebook provides an overview of data science tools, libraries, and examples of basic arithmetic operations using Python.

In [ ]:
## Data Science Languages
1. Python
2. R
3. SQL
4. Java
5. Julia

In [ ]:
## Data Science Libraries
1. Pandas
2. NumPy
3. Matplotlib
4. SciKit-Learn
5. TensorFlow

In [ ]:
## Data Science Tools
| Tool              | Purpose                     |
|-------------------|-----------------------------|
| Jupyter Notebook   | Interactive computing       |
| RStudio            | Data analysis with R        |
| Apache Hadoop      | Big data processing         |
| Tableau            | Data visualization          |

In [ ]:
# Multiplication and addition example
a = 5
b = 10
result = (a * b) + 20
result

In [ ]:
# Convert minutes to hours
minutes = 120
hours = minutes / 60
hours

In [ ]:
## Objectives
- List common data science languages
- Provide examples of basic arithmetic operations
- Demonstrate the use of Markdown and code cells

In [ ]:
## Author
Ahmad Jawad Romal